@inject ProductsController productsController

<div class="atop-stretch-link">
	<button>Add to cart</button>
</div>

@code {
	// [Parameter]
	// public GetProductDTO? getProduct { get; set; } = new GetProductDTO();
	// public int Id { get; set; }
	// public List<Product>? ShoppingCart = new List<Product>();

	// public async Task AddToCart(GetProductDTO getProductDTO)
	// {
	// 	var product = await productsController.GetProduct(Id);
	// 	ShoppingCart.Add(product);

		
	// }
	// // public List<AddProduct>? ShoppingCart { get; set; } = new List<AddProduct>();

}

    