@inject ILocalStorageService localStorage

<div>
    <button class="btn btn-danger btn-lg" @onclick="(() => ClearAll())">Complete Purchase</button>
</div>

@code {

    private async Task ClearAll()
    {
        await localStorage.ClearAsync();
    }
}
